{% block content %}
    <h2>Create a New User!</h2>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>

    <form action=/create_user method=POST>
        <table>
            <tr><td>Username: </td><td><input type=text name=username></td></tr>
            <tr><td>Password: </td><td><input type=password name=password></td></tr>
            <tr><td>Repeat Password: </td><td><input type=password name=repeatpassword></td></tr>
            <tr><td>Age: </td><td><input type=integer name=age></td></tr>
        </table>
        <input type=submit value='create_user'>
    </form>
    
{% endblock %}